.card {
  background-color: #111827;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #3cff00;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h3 {
  color: #3cff00;
  /* margin-bottom: 10px; */
}

.card p {
  color: #ccc;
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .card img {
    height: 200px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .card img {
    height: 180px;
  }

  .card {
    padding: 12px;
  }
}
