* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-pai {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-bottom: 1px solid #3cff00;

  .img-logo {
    height: 60px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .img-logo:hover {
    transform: scale(1.05);
  }

  .nav-container {
    display: flex;

    .ul-container {
      display: flex;
      gap: 40px;
      list-style: none;

      .info-li {
        color: white;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        transition: 0.3s;
      }
    }
  }
}

.info-li:hover {
  color: #3cff00;
}

.info-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #3cff00;
  transition: 0.3s ease;
}

.info-li:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .container-pai {
    padding: 0 20px;

    .ul-container {
      gap: 20px;
    }

    .info-li {
      font-size: 14px;
    }

    .img-logo {
      height: 45px;
    }
  }
}
